# Copy this file to .env and fill in the values

# Docker DB Configuration (dev only)
DATABASE_USERNAME="postgres"
DATABASE_PASSWORD="password"
DATABASE_NAME="messaging_app"
DATABASE_PORT="5432"

# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/messaging_app"

# Auth
BETTER_AUTH_SECRET="" # Generated with `pnpm dlx @better-auth/cli@latest secret`
SEED_DEFAULT_PASSWORD="p4\$\$w0rd"

# Misc
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_API_URL="http://localhost:3001"
API_PORT="3001"
